#wrapper{
    width: 1000px;
    height: 700px;
}
.houses{
    width: 900px;
    height: 200px;
    margin-bottom: 30px;
    padding-top: 8px;
}
.houseinfo{
    width: 700px;
    height: 400px;
    border: solid black 5px;
    margin-left: 90px;
}
.houses img{
    border: solid black 2px

}
img.stark{
    margin-left: 10px;
}